<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="123 Main St"
	useThumbDots="false"

>
  <image imageURL="images/DSC_2049.jpg"
	thumbURL="thumbs/DSC_2049.jpg"
	linkURL="images/DSC_2049.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2049.JPG">
    <title><![CDATA[DSC_2049]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2054.jpg"
	thumbURL="thumbs/DSC_2054.jpg"
	linkURL="images/DSC_2054.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2054.JPG">
    <title><![CDATA[DSC_2054]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2060.jpg"
	thumbURL="thumbs/DSC_2060.jpg"
	linkURL="images/DSC_2060.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2060.JPG">
    <title><![CDATA[DSC_2060]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2065.jpg"
	thumbURL="thumbs/DSC_2065.jpg"
	linkURL="images/DSC_2065.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2065.JPG">
    <title><![CDATA[DSC_2065]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2068.jpg"
	thumbURL="thumbs/DSC_2068.jpg"
	linkURL="images/DSC_2068.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2068.JPG">
    <title><![CDATA[DSC_2068]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2071.jpg"
	thumbURL="thumbs/DSC_2071.jpg"
	linkURL="images/DSC_2071.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2071.JPG">
    <title><![CDATA[DSC_2071]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2073.jpg"
	thumbURL="thumbs/DSC_2073.jpg"
	linkURL="images/DSC_2073.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2073.JPG">
    <title><![CDATA[DSC_2073]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2081.jpg"
	thumbURL="thumbs/DSC_2081.jpg"
	linkURL="images/DSC_2081.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2081.JPG">
    <title><![CDATA[DSC_2081]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2084.jpg"
	thumbURL="thumbs/DSC_2084.jpg"
	linkURL="images/DSC_2084.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2084.JPG">
    <title><![CDATA[DSC_2084]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_2085.jpg"
	thumbURL="thumbs/DSC_2085.jpg"
	linkURL="images/DSC_2085.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\DSC_2085.JPG">
    <title><![CDATA[DSC_2085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2584.jpg"
	thumbURL="thumbs/IMG_2584.jpg"
	linkURL="images/IMG_2584.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2584.JPG">
    <title><![CDATA[IMG_2584]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2590.jpg"
	thumbURL="thumbs/IMG_2590.jpg"
	linkURL="images/IMG_2590.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2590.JPG">
    <title><![CDATA[IMG_2590]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2592.jpg"
	thumbURL="thumbs/IMG_2592.jpg"
	linkURL="images/IMG_2592.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2592.JPG">
    <title><![CDATA[IMG_2592]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2608.jpg"
	thumbURL="thumbs/IMG_2608.jpg"
	linkURL="images/IMG_2608.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2608.JPG">
    <title><![CDATA[IMG_2608]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2615.jpg"
	thumbURL="thumbs/IMG_2615.jpg"
	linkURL="images/IMG_2615.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2615.JPG">
    <title><![CDATA[IMG_2615]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2617.jpg"
	thumbURL="thumbs/IMG_2617.jpg"
	linkURL="images/IMG_2617.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2617.JPG">
    <title><![CDATA[IMG_2617]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2618.jpg"
	thumbURL="thumbs/IMG_2618.jpg"
	linkURL="images/IMG_2618.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2618.JPG">
    <title><![CDATA[IMG_2618]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2631.jpg"
	thumbURL="thumbs/IMG_2631.jpg"
	linkURL="images/IMG_2631.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2631.JPG">
    <title><![CDATA[IMG_2631]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2633.jpg"
	thumbURL="thumbs/IMG_2633.jpg"
	linkURL="images/IMG_2633.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2633.JPG">
    <title><![CDATA[IMG_2633]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2634.jpg"
	thumbURL="thumbs/IMG_2634.jpg"
	linkURL="images/IMG_2634.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2634.JPG">
    <title><![CDATA[IMG_2634]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2644.jpg"
	thumbURL="thumbs/IMG_2644.jpg"
	linkURL="images/IMG_2644.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2644.JPG">
    <title><![CDATA[IMG_2644]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2645.jpg"
	thumbURL="thumbs/IMG_2645.jpg"
	linkURL="images/IMG_2645.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2645.JPG">
    <title><![CDATA[IMG_2645]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2648.jpg"
	thumbURL="thumbs/IMG_2648.jpg"
	linkURL="images/IMG_2648.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2648.JPG">
    <title><![CDATA[IMG_2648]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2650.jpg"
	thumbURL="thumbs/IMG_2650.jpg"
	linkURL="images/IMG_2650.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2650.JPG">
    <title><![CDATA[IMG_2650]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2652.jpg"
	thumbURL="thumbs/IMG_2652.jpg"
	linkURL="images/IMG_2652.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2652.JPG">
    <title><![CDATA[IMG_2652]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2654.jpg"
	thumbURL="thumbs/IMG_2654.jpg"
	linkURL="images/IMG_2654.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2654.JPG">
    <title><![CDATA[IMG_2654]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2666.jpg"
	thumbURL="thumbs/IMG_2666.jpg"
	linkURL="images/IMG_2666.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2666.JPG">
    <title><![CDATA[IMG_2666]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2669.jpg"
	thumbURL="thumbs/IMG_2669.jpg"
	linkURL="images/IMG_2669.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2669.JPG">
    <title><![CDATA[IMG_2669]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2676.jpg"
	thumbURL="thumbs/IMG_2676.jpg"
	linkURL="images/IMG_2676.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2676.JPG">
    <title><![CDATA[IMG_2676]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_2680.jpg"
	thumbURL="thumbs/IMG_2680.jpg"
	linkURL="images/IMG_2680.jpg"
	linkTarget="_blank"
	sourcePath="H:\Fotki\19Florence\Nikon\IMG_2680.JPG">
    <title><![CDATA[IMG_2680]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>